{% extends 'base.html' %}

{%block title%}Task Master{%endblock%}



{%block body%}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="display-1">Task Master</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{{url_for('addTask')}}">
                    <label for="taskform" class="form-label">Enter Task:</label>
                    <input type="text" name="taskform" class="form-control" >
                    <input class="btn btn-primary" type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>

{%endblock%}